<html>
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="description" content="Website to find and compare products from different Indian ecommerce websites to buy pc parts">

        <title>PC Comp Picker</title>
        <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet"></link>
        <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript" defer></script>

        <!-- favicon and logo -->
        <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
        <link rel="shortcut icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
        <link rel="manifest" href="../static/site.webmanifest">

        <!-- lato font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

        <!-- jquery -->
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    </head>
    {% endblock %}
    <body>
        <nav id="topnav">
            <ul class="topnav">
                <li><a href="{{ url_for('index') }}">PCCP</a></li>
                <li><a href="{{ url_for('wishlist') }}">Wishlist</a></li>
                <li><a href="{{ url_for('comparison') }}">Comparison</a></li>
                <form method="" action="" class="search">
                    <input type="text" class="search-input" placeholder="Search">
                    <button type="submit"> Go</button>
                </form>
                {% block nav %}{% endblock %}
            </ul>
        </nav>

        {% block main %}
        {% endblock %}
    </body>
</html>
