{% extends "base.html" %}

{% block nav %}
<form method="POST" action="" class="search">
    <input type="text" class="search-input" placeholder="Search" name="search_string">
    <button type="submit" name='search-submit'> Go</button>
</form>
{% endblock %}

{% block main %}
<div id="index-wrapper">
    <div class="wrapper">
        <div id="index-hero">
            <h1>Welcome to pccp</h1>
            <h2>Select a component and begin your pc-building venture</h2>
            <button id="index-hero-btn" onclick="javascript:window.open('{{ url_for('about') }}','_self')">About us</button>
        </div>
    </div>

    <div class="wrapper">
        <div id="index-btn-grid">
            <h1 id="category">Choose a category</h1><br>
            <div class="product-catalog-grid-index">
                {% for component, compid in components.items() %}

                <button onclick="javascript:window.open('{{url_for('component', name=compid)}}','_self');" id="btn-{{compid}}" class="btn-product-page-index">
                    {{component}}
                </button>

                {% endfor %}
            </div>
        </div>
    </div>

    <footer>
        <ul>
            <li><a href="https://github.com/Ultrahalf/pccp/" target="_blank">Github</a></li>
        </ul>
    </footer>
</div>


{% endblock %}
